.App {
  text-align: center;
  background-color: #fff6f1
}


.Title {
  text-align: left;
  font-family: lamar-pen,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 350%;
  transform: rotate(-9deg);
  padding-left: 50px;
  }

  .hero-title {
    text-align: left;
    padding-left: 250px;
    padding-top: 10px;
    font-family: agenda,sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .piano {
    align-items: center;
  }

  nav {
    text-align: right;
    font-family: agenda,sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-right: 200px;
    padding-bottom: 30px;
  }

